
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  align-items: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.corpo {

  display: flex;
  flex-direction: column;
  gap: 12px;
}

#aboutus{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 270px;

  margin-bottom: 20px;
}

hr {
  border: 2px solid black;
  width: 100%;
}

span {
  color: #67bce4;
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

img {
  width: 100%;
  height: auto;
}

#logo img{
  width: 250px;
  height: 200px;

  margin-bottom: 32px;
}


fieldset {
  display: flex;
  flex-direction: column;
  gap: 8px;

  align-items: start;
  padding: 20px;
}

fieldset > input {
  height: 30px;
  width: 230px;
  background: #74c4e8;
  border: 0px;
  color: #434343;
}

fieldset div {
  display: flex;
  flex-direction: column;

  align-items: start;
}

fieldset div input, fieldset div textarea {
  border: 2px solid #74c4e8;
  border-radius: 5px;

  width: 230px;
}


footer {
  background-color: #67bce4;
  width: 100%;
}

footer ul{
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 5px;

}

footer ul li a {
  text-decoration: none;
  color: #434343;
  font-weight: bold;
  line-height: 8px;
  
}

.container {
  width: 100%;
  min-height: 200px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
}

.card {
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(#333, #333);
  transition: all .5s;
}

.card:hover {
  background-image: linear-gradient(#672abf, #380e74);
}

.card .img1 {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-image: url('residencia.jpg');
  background-size: cover;
  background-position: center;
  transition: all .5s;
  z-index: 2;
  position: relative;
  opacity: .8;
}

.card .img2 {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-image: url('escritorio.jpg');
  background-size: cover;
  background-position: center;
  transition: all .5s;
  z-index: 2;
  position: relative;
  opacity: .8;
}

.card .img3 {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-image: url('construcao.jpg');
  background-size: cover;
  background-position: center;
  transition: all .5s;
  z-index: 2;
  position: relative;
  opacity: .8;
}
.card .img span {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  transition: all .5s;
}

.card:hover .img {
  width: 430px;
  opacity: 1;
}

.card:hover .img span {
  font-size: 28px;
}

.card .content {
  padding: 0px 20px;
  height: 0;
  opacity: 0;
  transition: all .5s;
  transition: all .5s;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(30px);
}

.card:hover .content {
  height: 260px;
  padding: 20px;
  opacity: 1;
  transform: translateY(0);
}

.card .content p {
  margin: 0;
}

.card .content .title {
  font-size: 20px;
  font-weight: 600;
}

.card .content .desc {
  font-size: 14px;
  font-weight: 100;
  opacity: .8;
  margin-top: 8px;
}

.card .arrow {
  padding: 15px;
  transform: rotate(-180deg);
  transition: all .5s;
}

.card:hover .arrow {
  transform: rotate(0);
}

.card .arrow span {
  font-size: 24px;
}

#ident {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media(min-width: 1024px) {

  #ident{
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  fieldset {
    width: 700px;
  }

  fieldset {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
  }

  #phone {
    margin-top: -110px;
  }

  fieldset > input {
    margin-top: -210px;
    height: 60px;
  }
  
  #aboutus {
    width: 700px;
  }
}
